In [45]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [46]:
URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/'
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')

In [47]:
na = soup.find_all('li')

In [48]:
li=[]
for x in range(3,len(na)):
    if na[x].text.split()[0][-1]!='/':
        li.append([URL+na[x].text.split()[0],na[x].text.split()[0]])

In [77]:
for x in li:
    print(x[0])
    try:
        z = pd.read_csv(x[0],header=None)
        z.to_csv(x[1])
    except Exception as e:
        print(e)

https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allbp.data
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allbp.names
Error tokenizing data. C error: Expected 1 fields in line 3, saw 4

https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allbp.test
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allhyper.data
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allhyper.names
Error tokenizing data. C error: Expected 1 fields in line 3, saw 4

https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allhyper.test
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allhypo.data
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allhypo.names
Error tokenizing data. C error: Expected 1 fields in line 3, saw 4

https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allhypo.test
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allrep.data
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allrep.names
Error tokenizing data. C error: Expected 1 fields in line 3, saw 4

https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allrep.test
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/ann-Readme
Error tokenizing data. C error: Expected 1 fields in line 9, saw 2

https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/ann-test.data
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/ann-thyroid.names
Error tokenizing data. C error: Expected 1 fields in line 25, saw 3

https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/ann-train.data
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/dis.data
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/dis.names
Error tokenizing data. C error: Expected 1 fields in line 3, saw 4

https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/dis.test
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/hypothyroid.data
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/hypothyroid.names
Error tokenizing data. C error: Expected 2 fields in line 4, saw 3

https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/new-thyroid.data
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/new-thyroid.names
Error tokenizing data. C error: Expected 1 fields in line 3, saw 2

https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/sick-euthyroid.data
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/sick-euthyroid.names
Error tokenizing data. C error: Expected 2 fields in line 4, saw 3

https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/sick.data
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/sick.names
Error tokenizing data. C error: Expected 1 fields in line 3, saw 4

https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/sick.test
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/thyroid.theory
Error tokenizing data. C error: Expected 1 fields in line 209, saw 6

https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/thyroid0387.data
https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/thyroid0387.names
Error tokenizing data. C error: Expected 1 fields in line 3, saw 4

In [82]:
head = ["age","sex","on thyroxine","query on thyroxine","on antithyroid medication","sick","pregnant","thyroid surgery","I131 treatment","query hypothyroid","query hyperthyroid","lithium","goitre","tumor","hypopituitary","psych","TSH measured","TSH","T3 measured","T3","TT4 measured","TT4","T4U measured","T4U","FTI measured","FTI","TBG measured","TBG","referral source","classes"]

In [93]:
z = pd.read_csv('allbp.test',index_col=0)
z.columns = head

In [95]:
z.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,classes
0,35,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,f,?,other,negative.|219
1,63,M,f,f,f,f,f,f,f,f,...,t,108,t,0.96,t,113,f,?,SVI,negative.|2059
2,25,F,f,f,f,f,f,f,f,f,...,t,61,t,0.82,t,75,f,?,SVHD,negative.|399
3,53,F,f,f,f,f,f,f,f,t,...,t,145,t,1.03,t,141,f,?,other,negative.|1911
4,92,F,f,f,f,f,f,f,f,f,...,t,120,t,0.84,t,143,f,?,SVI,negative.|487

In [86]:
z = pd.read_csv('ann-train.data',index_col=0)

In [87]:
z.head()

                                                   0
0  0.73 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0.0006 0.01...
1  0.24 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.00025 0.0...
2  0.47 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0019 0.02...
3  0.64 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0009 0.01...
4  0.23 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.00025 0.0...

In [19]:
len(z)

3771